.body_text{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:9pt;
	text-decoration:none;
}
.border_top{
	border-top:1px solid #333333;
}
.border_bottom{
	border-bottom:1px solid #333333;
}
.border_left{
	border-left:1px solid #333333;
}
.border_bottom_right{
	border-bottom:1px solid #333333;
	border-right:1px solid #333333;
}
.border_right{
	border-right:1px solid #333333;
}
.border_bottom_left{
	border-left:1px solid #333333;
	border-bottom:1px solid #333333;
	/*border-top:1px solid #333333;*/
}
.border_bottom_left_right{
	border-right:1px solid #333333;
	border-left:1px solid #333333;
	border-bottom:1px solid #333333;
	/*border-top:1px solid #333333;*/
}

.border_top_bottom_left{
	border-left:1px solid #333333;
	border-bottom:1px solid #333333;
	border-top:1px solid #333333;
}
.border_top_bottom_left_right{
	border-right:1px solid #333333;
	border-left:1px solid #333333;
	border-bottom:1px solid #333333;
	border-top:1px solid #333333;
}
.red_text{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color:#F00;
	font-size:9pt;
	text-decoration:none;
}
.green_text{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color:#090;
	font-size:9pt;
	text-decoration:none;
}
.page_title_text{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:10pt;
	text-decoration:none;
	font-weight:bold;
}
.tbl_header_right{
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 12px;
	font-weight:bold;
	background-color:#86B5D9; 
	border-right:1px solid #000000;
}
.tbl_header{
	font-family: Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 12px;
	font-weight:bold;
	background-color:#86B5D9; 
}
.rounded-corners {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right:1px solid #999999;
	border-left:1px solid #999999;
	border-bottom:1px solid #999999;
	border-top:1px solid #999999;
}
